<div class="flex flex-row align-items-center p-3 gap-3" [ngClass]="{ 'border-top-1 surface-border': isFirst }">
  <img *ngIf="movie.thumbnail" class="w-2 max-w-4rem shadow-2 block xl:block mx-auto border-round"
       [src]="'https://image.tmdb.org/t/p/w200' + movie.thumbnail" [alt]="movie.title"/>
  <div class="flex flex-row justify-content-between align-items-start flex-1 gap-2">
    <div class="flex flex-column align-items-start gap-1">
      <b>{{ movie.title }}</b>
      <span>{{ movie.release }}</span>
      <span *ngIf="movie.budget">Budget: {{ movie.budget }}</span>
      <span *ngIf="movie.revenue">Revenue: {{ movie.revenue }}</span>
      <span *ngIf="movie.genres">Genres: {{ movie.genres.join(", ") }}</span>
      <span *ngIf="movie.language">Language: {{ getCountryFullName(movie.language) }}</span>
      <span *ngIf="movie.voteAverage">Rating: {{ movie.voteAverage }}</span>
      <span>Overview: <i>`{{ movie.overview }}`</i></span>
      <a *ngIf="movie.homepage" href="{{ movie.homepage }}">Homepage</a>
    </div>
    <i class="pi pi-heart align-self-center"></i>
  </div>
</div>
