<div class="flex flex-wrap w-full justify-content-center align-items-center flex-column">
  <p-autoComplete #autoComplete
                  class="m-4"
                  [suggestions]="recentSearches"
                  [(ngModel)]="query"
                  (keyup.enter)="onKeyUp()"
                  (onSelect)="search()"
                  (completeMethod)="showRecentSearches()"
  >
  </p-autoComplete>

  @if (movieList$ | async; as movieList) {
    @if (movieList.length) {
      <app-movie-list [movieList]="movieList"></app-movie-list>
    } @else {
      <p>No results found!</p>
    }
  } @else {
    <p-card class="card mt-8 md:w-5 cursor-pointer"
            (click)="focusAutoComplete()"
    >
      <div class="flex justify-content-center align-items-center gap-4">
        <i class="pi pi-search text-4xl"></i>
        <p class="m-0">Use Search Bar to find movies!</p>
      </div>
    </p-card>
  }
</div>
